<!Doctype html>
<html>
  <head>
    <title>Start_team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>