body {
  background: #333;
}

.home-image {
  background: url("/images/allen-and-gates.jpg");
  position: absolute center;
  padding: 200px 200px 200px 200pxs;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1300px;
  margin-left: -80px;
  padding:100px;
}

.home-image-text {
  background-color: rgba(0, 0, 0, .5);
  margin: 70px 200px 50px 400px;
  width: 420px;
  color: #fff;
  padding: 20px
}

.jumbotron-logo {
  background: url("/images/question.jpg") center repeat;
  padding-top:  200px;
  padding-bottom: 200px;
}

.jumbotron {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.navbar-fixed-top {
  background: black;
}

.nav-pills a {
  color: #fff;
}

.navbar-default {
  color: #333;
}

.team-submit {
  background: url("/images/jobs-and-woz.jpg");
  padding: 300px;
  background-repeat: no-repeat;
}